body{
    margin: 0;
}
.inicio{
    background: #FFE3DC;
    margin-top: auto;
    text-align: center;
}
.navegacion{
    
    overflow: hidden;
}
.navegacion ul{
    list-style: none;
    margin-top: 0;
}
.navegacion li{
    float: right;
    
}
.navegacion li a{
    display: inline-block;  
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
.navegacion li a:hover{
    color: black;
}
a,.My-name,.Mi-descripcion{
    color: #531D40;
}
h1,h3{
    text-align: center;
}
.My-name{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 0;
}
.Mi-descripcion{
    font-family: 'Montserrat', sans-serif;
}
.nube,.nube2{
    position: absolute;
}
.nube{
    
    left: 250px;
    bottom: 400px;
    width: 150px;
}

.nube2{
    right: 200px;
    width: 200px;
}

.pato{
width: 100px;
position: absolute;
left: calc(50% - 70.5px);
}
.montaña{    
    width: 700px;
    max-width: 100%;
    margin: 0;
    margin-bottom: -4px;
}
.Mi-descripcion{
    padding-bottom: 100px;
}
.middle-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 50%;
}
.middle-box p{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img{
    width: 50%;
    max-width: 100%;
    border-radius: 100%;
}
h1{
    color: #531D40;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Merriweather', sans-serif;
    line-height: 2;
    color: black;
}
hr{
    width: 50px;
    border-width: 10px;
    border-style: dotted none none none;    
    border-color: #531D40;
}

